body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 29, 31);
}

.addStyling{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0.5;
}